{% extends "layout.html" %}

{% block content %}


{% if is_auth %}
<h3>{{header}}</h3>

{% for item in themes %}
<form action="{{ url_for('create_feedback') }}" method=post>
    <!--<blockquote class="trello-card">
        <a href="{{item.url}}">{{item.themeName}}</a>
    </blockquote>
    <script src="https://p.trellocdn.com/embed.min.js">
        
    </script>-->
    <input type="hidden" name={{item.id}}>{{item.themeName}}
    <button type="submit">Create feedback!</button>
</form>

{% endfor %}

<h3>{{header2}}</h3>
{% for item in feedbacks %}
<a href="{{ url_for('feedback', id=item.id) }}">{{item.timestamp}} -- {{item.authorName}} -- {{item.themeName}}</a><br/>

{% endfor %}

{% endif %}
{% endblock %}
